<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="ac-discovery" content="{{.Domains}} {{.ListenMode}}://{{.Domains}}/ac-fetch/{{.NameSpace}}/{{.Repository}}/{{.Repository}}-{version}-{os}-{arch}.{ext}"/>
        <meta name="ac-discovery-pubkeys" content="{{.Domains}} {{.ListenMode}}://{{.Domains}}/ac-fetch/{{.NameSpace}}/{{.Repository}}/pubkeys">
        <meta name="ac-push-discovery" content="{{.Domains}} {{.ListenMode}}://{{.Domains}}/ac-push/{{.NameSpace}}/{{.Repository}}/uploaded/{{.Repository}}-{version}-{os}-{arch}.{ext}"/>
    </head>
</html>
